<div class="about-container">
  <h2>Chi Siamo</h2>
  <p>
    Benvenuti in AnimalShop! Siamo un'azienda dedicata a offrire il meglio per i nostri amici a quattro zampe. Con una vasta gamma di prodotti per ogni esigenza, ci impegniamo a migliorare la vita dei vostri animali domestici.
  </p>

  <h3>La Nostra Missione</h3>
  <p>
    Il nostro obiettivo è fornire prodotti di alta qualità che contribuiscano al benessere, alla salute e alla felicità dei vostri animali domestici. Crediamo che ogni animale meriti cure e attenzioni eccezionali.
  </p>

  <h3>I Nostri Valori</h3>
  <ul>
    <li>Amore e cura per gli animali</li>
    <li>Qualità e affidabilità dei prodotti</li>
    <li>Soddisfazione del cliente</li>
  </ul>

  <h3>Contattaci</h3>
  <p>
    Se desideri saperne di più su di noi o sui nostri prodotti, non esitare a <a routerLink="/contact">contattarci</a>.
  </p>
</div>
