<div class="ordini-container">
  <h1>I tuoi ordini</h1>

  <!-- Messaggio di errore -->
  <div class="no-orders">
    <p>Non hai ancora effettuato alcun ordine.</p>
  </div>

  <!-- Tabella degli ordini -->
  <table class="table">
    <thead>
    <tr>
      <th>Numero Ordine</th>
      <th>Data Ordine</th>
      <th>Totale</th>
      <th>Status</th>
      <th>Dettagli</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <!-- Link con icona info -->
        <a  title="Visualizza Dettagli">
          <i class="bi bi-info-circle" style="font-size: 1.5rem;"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
