.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9); /* Sfondo bianco semi-trasparente per il contenitore */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

body.contact-page {
  background-image: url('/assets/images/contact.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.contact-container h2,
.contact-container p {
  color: #333; /* Colore del testo */
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
