<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card text-center" style="width: 100%; max-width: 400px; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ddd;">
    <div class="card-body">
      <div class="mb-4">
        <i class="bi bi-check-circle text-success" style="font-size: 5rem;"></i>
      </div>
      <h1 class="my-4">Pagamento Effettuato con Successo</h1>
      <p class="mb-4">Grazie per il tuo pagamento! Il tuo ordine è stato elaborato e verrà spedito a breve.</p>
      <button class="btn btn-dark" routerLink="/">Torna alla Home</button>
    </div>
  </div>
</div>

