<div class="container">
  <div class="row">
    <!-- Colonna Titolo e Accordion -->
    <div class="col-4 mt-5">
      <h2 class="title-category">Esplora le Categorie</h2>
      <div class="accordion-item mt-3">
        <input type="checkbox" id="accordion-gioco" class="accordion-toggle">
        <label for="accordion-gioco" class="accordion-header">Giochi</label>
        <div class="accordion-content">
          <ul>
            <li>Palline</li>
            <li>Corde</li>
            <li>Giocattoli interattivi</li>
          </ul>
        </div>
      </div>

      <div class="accordion-item">
        <input type="checkbox" id="accordion-cibo" class="accordion-toggle">
        <label for="accordion-cibo" class="accordion-header">Cibo</label>
        <div class="accordion-content">
          <ul>
            <li>Cibo secco</li>
            <li>Cibo umido</li>
            <li>Snack e premi</li>
          </ul>
        </div>
      </div>

      <div class="accordion-item">
        <input type="checkbox" id="accordion-accessori" class="accordion-toggle">
        <label for="accordion-accessori" class="accordion-header">Accessori</label>
        <div class="accordion-content">
          <ul>
            <li>Collari</li>
            <li>Guinzagli</li>
            <li>Cuccette</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Colonna Card -->
    <div class="col-8 d-flex justify-content-center flex-wrap">
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>

      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="card m-3">
        <img src="" class="card-img-top" alt="Image">
        <div class="card-body">
          <p class="card-text">DESCRIZIONE PRODOTTO</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
        </div>
      </div>
      <div class="pagination-container">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
