/* Barra di navigazione */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  padding-left: 1rem; /* Aggiunge spazio a sinistra del logo "AnimalShop" */
}


/* Link della navbar */
.navbar .navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffc107;
}

/* Stili per il link Cart */
.navbar .navbar-nav .cart-link {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 1rem; /* Spazio tra Cart e la barra di ricerca */
  transition: color 0.3s ease;
}

.navbar .navbar-nav .cart-link:hover {
  color: #ffc107;
}

.navbar, .hero, .overlay {
  border-radius: 0; /* Rimuove gli angoli smussati */
}



/* Barra di ricerca con flex-grow */
.form-inline {
  display: flex;
  flex-grow: 1; /* Occupa tutto lo spazio rimanente */
  max-width: 400px; /* Limita la larghezza massima */
  margin-left: auto; /* Spinge la barra di ricerca verso destra */
  margin-right: 1rem;
}

.form-inline .form-control {
  border-radius: 0;
  flex-grow: 1;
}

.form-inline .btn {
  border-radius: 0;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.form-inline .btn:hover {
  background-color: #777;
}
