<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-shopping-cart"></i> AnimalShop
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>

    <a class="nav-link cart-link" href="#" style="margin-right: 20px;">
      <i class="fa fa-shopping-cart"></i> Cart
    </a>

    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search" style="width: 300px; border-radius: 0;">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>
