.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.hero, .navbar, .overlay  {
  width: 100vw;
  margin: 0;
  border-radius: 0;
}
body.feedback-page::before {
  content: "";
  position: fixed;
  top: -10%; /* Estendi l’immagine oltre i bordi */
  left: -10%;
  width: 120vw; /* Estensione oltre il 100% della larghezza */
  height: 120vh; /* Estensione oltre il 100% dell’altezza */
  background-image: url('/assets/images/animal.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  border-radius: 0;
  padding: 0;
  filter: blur(8px); /* Mantieni il blur per sfocare lo sfondo */
  z-index: -1;
}
body.contact-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/contact.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Maggiore sfocatura */
  z-index: -1;
}





