.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.hero, .navbar, .overlay  {
  width: 100vw;
  margin: 0;
  border-radius: 0;
}



