<div class="container-fluid p-0 hero" style="background-image: url('/assets/images/dog.jpg');">
  <div class="overlay"></div>
  <h1>Benvenuto in AnimalShop</h1>

  <p class="intro-text">Trova tutto ciò che serve per rendere felice il tuo cane!</p>

  <p class="intro-subtext">
    Offriamo una vasta selezione di accessori, alimenti e giochi pensati esclusivamente per il benessere e il divertimento del tuo amico a quattro zampe.
  </p>

  <button class="btn btn-primary" (click)= goToProducts()>Scopri i Prodotti per Cani</button>
</div>



<div class="container-fluid categories">
  <h2>Esplora le Nostre Categorie</h2>
  <div class="category-grid">
    <div class="category">
      <img src="assets/images/food.jpg" alt="Cibo per Cani">
      <h3>Cibo</h3>
      <p>Alimenti di alta qualità per ogni fase di vita del tuo cane.</p>
    </div>
    <div class="category">
      <img src="assets/images/toys.jpg" alt="Giochi per Cani">
      <h3>Giochi</h3>
      <p>Divertimento assicurato con la nostra selezione di giocattoli.</p>
    </div>
    <div class="category">
      <img src="assets/images/accessories.jpg" alt="Accessori per Cani">
      <h3>Accessori</h3>
      <p>Collari, guinzagli, letti e molto altro per il tuo amico a quattro zampe.</p>
    </div>
  </div>
</div>


<div class="testimonials">
  <h2>Cosa Dicono i Nostri Clienti</h2>


  <div class="testimonial-carousel">

    <button class="carousel-btn prev-btn" (click)="scrollCarousel(-1)">❮</button>


    <div class="testimonial-wrapper">
      <div class="testimonial-grid">
        <div *ngFor="let testimonial of visibleTestimonials" class="testimonial">
          <p>"{{ testimonial.text }}"</p>
          <span>- {{ testimonial.author }}</span>
        </div>
      </div>
    </div>


    <button class="carousel-btn next-btn" (click)="scrollCarousel(1)">❯</button>
  </div>
</div>

